.skillsBlock {
    min-height: 100vh;
    background-color: lightgreen;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skillsContainer h2 {
    background-color: coral;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

